body {
    background-color: rgb(178,40,40);
    text-align: center;
}

h1 {
    color: #ffffff;
    text-align: center;
    font-size: 500%;
    margin: 2% auto 2% auto;
    
}

.circle_1{
    margin: 0 auto;
    padding: 1%;
    background-color: rgb(178, 70, 70);
    border-radius: 50%;
    width: 35%;
    aspect-ratio: 1;
}


.circle_2{
    margin: 0 auto;
    background-color: rgb(178, 50, 50);
    border-radius: 50%;
    width: 100%;
    aspect-ratio: 1;
}


.main_timer_text {
    color: #ffffff;
    font-size: 9vw;
    line-height: 0px;
    vertical-align:middle;
    display: flex;
    justify-content: center;
    align-self: center;
    margin: auto;
}

.fa-angle-down, .fa-angle-up{
    color: #ffffff;
}

.up_arrow{
    margin-top: 15%;
}


.play_button {
    margin-top: 5%;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.fredoka-font {
    font-family: "Fredoka", sans-serif;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}