body {
    background-color: rgb(255, 3, 20);
    text-align: center;
}

h1 {
    text-align: center;
}

.timer {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;

    /*circle*/
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    border-radius: 50%;
    width: 30%;
    aspect-ratio: 1;
}




#play_button {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;

    /*rectangle*/
    margin-left: auto;
    margin-right: auto;
    width: 25px;
    aspect-ratio: 1;
    background-color: #ffffff;
    border-radius: 20%;
}